//====================================================================================================
.page {
  &__error {
    @include adaptiveValue("padding-top", 180, 50);
  }
}

.error {
  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__content {
  }

  &__title {
    font-size: var(--display-text);
    font-family: var(--title-font);
    font-weight: 800;
    line-height: 120%;
  }

  &__text {
    font-size: var(--h2-font-size);
    line-height: 120%;
  }
}

//====================================================================================================
