@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Sora:wght@700;800&display=swap");
:root {
  --first-color: #05060F;
  --second-color: #7657FF;
  --third-color: #F5C418;
  --fourth-colour: #1E1F27;
  --whiteColor: #fff;
  --body-font: "Inter", sans-serif;
  --title-font: "Sora", sans-serif;
  --display-text: 4rem;
  --h2-font-size: 3.5rem;
  --h3-font-size: 2.25rem;
  --h4-font-size: 2rem;
  --h5-font-size: 1.5rem;
  --normal-font-size: 1.25rem;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #05060F;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Styles will be applied to
to all classes containing *__container
For example header__container, main__container etc.
*/
[class*=__container] {
  max-width: 75.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button__painted {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--body-font);
  font-weight: 800;
  color: var(--whiteColor);
  background-color: var(--second-color);
  border-radius: 2.875rem;
  transition: 0.3s ease-in;
}
.button__painted:hover {
  background-color: #05060F;
}
.button__painted a {
  width: 100%;
  height: 100%;
  padding: 0.75rem 1.25rem;
}

.button__transparent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: var(--body-font);
  font-weight: 800;
  color: var(--whiteColor);
  border: 1px solid var(--whiteColor);
  border-radius: 2.875rem;
  transition: 0.3s ease-in;
}
.button__transparent a {
  width: 100%;
  height: 100%;
  padding: 0.875rem 0.625rem 0.875rem 1.75rem;
}
.button__transparent svg path {
  transition: 0.3s ease-in;
}
.button__transparent:hover {
  color: var(--first-color);
  background-color: var(--whiteColor);
  border: 1px solid var(--first-color);
}
.button__transparent:hover svg path {
  fill: var(--first-color);
}
.button__transparent-black {
  color: var(--first-color);
  border: 1px solid var(--first-color);
  transition: 0.3s;
}
.button__transparent-black svg path {
  fill: var(--first-color);
}
.button__transparent-black:hover {
  background-color: var(--whiteColor);
}

.block-heading__title {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  font-weight: 800;
  line-height: 120%;
}
.block-heading__text {
  margin-top: 1.5rem;
  line-height: 1.6;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--whiteColor);
}
.header-fixed {
  box-shadow: 0 -8px 15px var(--fourth-colour);
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.9375rem;
}
@supports (gap: clamp( 1.25rem , calc(-0.49291939rem + 8.7145969499vw) , 6.25rem )) {
  .header__container {
    gap: clamp( 1.25rem , calc(-0.49291939rem + 8.7145969499vw) , 6.25rem );
  }
}
@supports not (gap: clamp( 1.25rem , calc(-0.49291939rem + 8.7145969499vw) , 6.25rem )) {
  .header__container {
    gap: calc(1.25rem + 5 * (100vw - 20rem) / 57.375);
  }
}
.header__menu {
  flex: 1 1 auto;
}
.header .menu__body {
  display: flex;
  justify-content: center;
}
.header .menu__logo {
  flex: 1 1 auto;
}
.header .menu__logo img {
  transition: 0.3s;
}
.header .menu__logo img:hover {
  transform: scale(1.05);
}
.header .menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
@supports (gap: clamp( 0.9375rem , calc(0.5671296296rem + 1.8518518519vw) , 2rem )) {
  .header .menu__list {
    gap: clamp( 0.9375rem , calc(0.5671296296rem + 1.8518518519vw) , 2rem );
  }
}
@supports not (gap: clamp( 0.9375rem , calc(0.5671296296rem + 1.8518518519vw) , 2rem )) {
  .header .menu__list {
    gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 57.375);
  }
}
@media (max-width: 41.875rem) {
  .header .menu__list {
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
    padding: 3.75rem 0 2.5rem 0;
    background-color: var(--second-color);
    border-bottom-left-radius: 1.875rem;
  }
}
@media (max-width: 25rem) {
  .header .menu__list {
    width: 100%;
    border-bottom-right-radius: 1.875rem;
    padding-bottom: 6.25rem;
  }
}
.header .menu__list.menu-open {
  right: 0;
}
.header .menu__items {
  position: relative;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5714285714;
  transition: 0.2s linear;
}
.header .menu__items::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--second-color);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.header .menu__items:hover {
  color: var(--second-color);
}
.header .menu__items:hover::after {
  transform: scaleX(1);
}
@media (max-width: 41.875rem) {
  .header .menu__items {
    margin: 0.625rem 0;
    font-size: var(--h5-font-size);
    color: var(--whiteColor);
  }
}
@media (max-width: 25rem) {
  .header__button {
    position: absolute;
    top: 360%;
    left: 200%;
    transform: translateX(-50%);
    color: var(--second-color);
    background-color: var(--whiteColor);
    white-space: nowrap;
    transition: 0.3s;
  }
}
.header__button.menu-open {
  left: 50%;
}
.icon-menu {
  display: none;
}
@media (max-width: 41.875rem) {
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 0.125rem;
    background-color: var(--first-color);
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.menu-open span {
    width: 0;
  }
  .icon-menu.menu-open span, .icon-menu.menu-open::before, .icon-menu.menu-open::after {
    background-color: var(--whiteColor);
  }
  .icon-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

@supports (margin-top: clamp( 6.25rem , calc(5.1171023965rem + 5.6644880174vw) , 9.5rem )) {
  .page__main-heading {
    margin-top: clamp( 6.25rem , calc(5.1171023965rem + 5.6644880174vw) , 9.5rem );
  }
}
@supports not (margin-top: clamp( 6.25rem , calc(5.1171023965rem + 5.6644880174vw) , 9.5rem )) {
  .page__main-heading {
    margin-top: calc(6.25rem + 3.25 * (100vw - 20rem) / 57.375);
  }
}
@supports (margin-top: clamp( 3.125rem , calc(0.2927559913rem + 14.1612200436vw) , 11.25rem )) {
  .page__advantages {
    margin-top: clamp( 3.125rem , calc(0.2927559913rem + 14.1612200436vw) , 11.25rem );
  }
}
@supports not (margin-top: clamp( 3.125rem , calc(0.2927559913rem + 14.1612200436vw) , 11.25rem )) {
  .page__advantages {
    margin-top: calc(3.125rem + 8.125 * (100vw - 20rem) / 57.375);
  }
}

.main-heading__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 62.5rem) {
  .main-heading__container {
    flex-wrap: wrap;
  }
}
.main-heading__content {
  flex-grow: 1;
  max-width: 36.25rem;
}
@media (min-width: 62.5rem) {
  .main-heading__content {
    flex-shrink: 0;
  }
}
@media (max-width: 62.5rem) {
  .main-heading__content {
    max-width: 43.75rem;
    margin-top: 3.125rem;
    text-align: center;
  }
}
@media (max-width: 29.375rem) {
  .main-heading .block-heading__title {
    font-size: var(--h3-font-size);
    max-width: 25rem;
  }
}
.main-heading__download-apps {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 3rem;
}
@media (max-width: 62.5rem) {
  .main-heading__download-apps {
    justify-content: center;
  }
}
.main-heading__app {
  transition: 0.3s linear;
}
.main-heading__app:hover {
  transform: scale(1.05);
}
.main-heading__image {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 40.625rem;
}
.main-heading__image img {
  width: 100%;
}
@media (max-width: 62.5rem) {
  .main-heading__image {
    order: -1;
  }
}

.advantages .block-heading {
  text-align: center;
}
.advantages__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-top: 3.75rem;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
  flex: 1 1 23.5rem;
  padding: 2.6875rem 2rem;
  border-radius: 1.875rem;
}
.advantages__item .block-heading {
  text-align: left;
  color: var(--whiteColor);
}
.advantages__item .block-heading__title {
  font-size: var(--h3-font-size);
}
.advantages__item:nth-child(1) {
  background-color: var(--fourth-colour);
}
.advantages__item:nth-child(2) {
  background-color: var(--second-color);
}
.advantages__item:nth-child(3) {
  background-color: var(--third-color);
}
.advantages__item:nth-child(3) .block-heading {
  color: var(--first-color);
}

/*# sourceMappingURL=style.css.map */
